*{
  overflow-x: hidden;
}
body {
background-color: azure;
}
.logo{
  background-color:azure !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  text-align: center;
  text-transform: uppercase;
  color: blue;
}
.logo p{
  text-transform: lowercase;
  color: black;
}
/*#img1{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 200px;
  height:300px ;
}
#img2{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img3{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img4{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img5{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img5{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
