table{
    border: 1px solid gray;
    border-collapse:collapse;
    margin-right: 20px;
    padding: 12px;
    text-align: right;
  }
  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid gray;
    color: black;
  }
  .row h3{
      text-align: center;
      font-size: xx-large;
      font-family: 'IM Fell Great Primer SC', serif;
  }
  .womens-meas p{
      font-size: xx-large;
      text-align: center;
  }
   .title h2{
      text-transform: uppercase;
      font-weight:bolder;
      text-align: center;
      color: maroon;
      /* font-family: 'PT Serif', serif; */
      font-family: 'Noto Serif', serif;
      /* font-family: 'Anton', sans-serif; */
      font-size: 50px;
  }
  .womens-meas img{
      float: center;
  }
  *{
      background-color:whitesmoke;
      margin: 3px;
      margin-top: 20px;
  }
  .image img{
      width: 20%;
      margin: 5px auto;
      float: left;
      margin-right: 60px;
  }
  .instr p{
      font-size: x-large;
  }
  .demo h4{
      font-size: xx-large;
      text-transform: uppercase;
      color:maroon;
      font-weight: bolder;
      font-family: 'Song Myung', serif;
  }
  .instr li{
      font-size: x-large;
  }
  .row{
      float: left;
  }
  .fash img{
      margin: 5px;
  }
  #clients h4{
      font-size: xx-large;
      font-weight: bolder;
      color: maroon;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Song Myung', serif;
  }
  #clients p{
      font-size: x-large;
  }
  .form{
      font-size: x-large;
      float: center;
  }
  .slides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    margin-top: initial;
  }
  .logo5{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 30%;
    background-color: azure;
    color: transparent;
    margin-bottom: 5px;
    position: absolute;
  }
  .info{
      height: 50%;
      width: 30%;
      margin-left: 35%;
  }
  #footer{
      text-align: center;
      font-size:large;
  }
  
