body{
    background-size: 900px;
    text-align: center;
    background-color: azure;
}
.item{
    text-align: center;
}
.wrapper{
    width: 700px;
    margin: 20px auto;
    padding: 20px;
}
h2{
    display: inline-block;
    background-color: white;
    color: #ef4478;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
    border: 50px;
}
.items{
    display: block;
    margin: 20px 0;
}
.item{
    background-color: white;
    float: left;
    margin: 0 10px 10px 0;
    width: 200px;
    padding: 10px;
}