<<<<<<< HEAD

body {
    font-family: poppins;
}
header .carousel-inner .item {
    height: 100vh;
}
.navbar-inverse {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-inverse .navbar-brand {
    color:green;
    font-size: 30px;
    padding: 40px 15px;
    font-weight: 900;
}
.nav.navbar-nav.navbar-right {
    margin: 25px 0;
    color: maroon;
}
.navbar-inverse .navbar-nav>li>a {
    color: green;
    text-transform: uppercase;
}
.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100%;
}
.carousel-caption {
    padding-bottom: 250px;
    font-family: poppins;
    height: 55vh;

}
.carousel-caption h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(202, 199, 5);
}
.carousel-caption h2 span {
    color: maroon;
}
.carousel-caption a {
    /* background: maroon; */
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    content: '\00bb';
    outline: none;
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color:maroon; 
    background-color: rgb(202, 199, 5);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px black;
=======
*{
  overflow-x: hidden;
>>>>>>> latest designs
}
body {
background-color: azure;
}
.logo{
  background-color:azure !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  font-style: italic;
}
/*#img1{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 200px;
  height:300px ;
}
#img2{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img3{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img4{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img5{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
#img5{
  display: block;
  margin: 0 10px 0;
  float: left;
  padding: 10px;
  width: 250px;
  height: 300px;
}
